
<div class="cont1">

<img   src="../../assets/images/kore_img.png" alt="">
<img class ="imgcontent" style="border-radius: 100%; " src="../../assets/images/korer_img.jpg" alt="">
<span class="head">Simplify <br>IOT</span>
<hr class="linebreak">
<p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
<button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button>
</div>
<div class="cont2">
  <img src="../../assets/images/kore_img.png" alt="">
  <img class ="imgcontent" style="border-radius: 100%;" src="../../assets/images/korer_img.jpg" alt="">
  <span class="head">Simplify <br>IOT</span>
  <hr class="linebreak">
  <p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
  <button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button>
</div>
<div class="cont3">
    <img src="../../assets/images/kore_img.png" alt="">
    <img  class ="imgcontent" style="border-radius: 100%;" src="../../assets/images/korer_img.jpg" alt="">
    <span class="head">Simplify <br>IOT</span>
    <hr class="linebreak">
    <p>Core engineering company with a culture of constant innovation with outstanding track record.</p>
    <button (click)="onbtnclick()" type="button" class="btn btn-info">Info</button>

</div>
